/* Added by blevin */

body {
  padding-top: 0;
}

figure > img {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

.gap-right {
    margin-right: 10px;
}

.gap-left {
  margin-left: 10px;
}

.carousel.slide,
.carousel {
  background-color: black;
}

.carousel-inner > .item > img {
  margin: 0 auto;

}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}

.pager a,
.entry-content a,
#content > article > div.panel-group.series a {
  border-bottom: none;
  color: #dd4814;
  text-decoration: none;
  background-color: transparent;
}

a.footnote-ref,
a.footnote-backref {
  color: #aea79f;
  background-color: transparent;
}

div#table-contents ul{
  padding-left: 10px;
}
.table-of-content,
.toc {
  margin-left: 5px;
}

div.toc ul {
}

div.toc li {
  list-style-type: none;
  margin-left: 5px;
}

/*figure {
  display: table;
}*/

@media only screen and (min-width: 959px) {
  .carousel-inner {
    height: 576px !important;
  }
}
@media only screen and (max-width: 959px) {}

@media only screen and (min-width: 768px) and (max-width: 959px) {}

@media only screen and (max-width: 767px) {}

@media only screen and (min-width: 480px) and (max-width: 767px) {}

@media only screen and (max-width: 479px) {}
