/* Added by blevin */

:target:before {
content:"";
display:block;
height:50px; /* fixed header height*/
margin:-50px 0 0; /* negative fixed header height */
}

.gap-right {
    margin-right: 10px;
}

.gap-left {
  margin-left: 10px;
}

.carousel {
  background-color: black;
}

.carousel-inner > .item > img {
  margin: 0 auto;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}


div#table-contents ul{
  padding-left: 10px;
}
.table-of-content,
.toc {
  margin-left: 5px;
}

div.toc ul {
}

div.toc li {
  list-style-type: none;
  margin-left: 5px;
}

@media only screen and (min-width: 959px) {
  .carousel-inner {
    height: 576px !important;
  }
}
@media only screen and (max-width: 959px) {}

@media only screen and (min-width: 768px) and (max-width: 959px) {}

@media only screen and (max-width: 767px) {}

@media only screen and (min-width: 480px) and (max-width: 767px) {}

@media only screen and (max-width: 479px) {}
