/* Added by blevin */

.gap-right {
    margin-right: 10px;
}
.carousel {
  background-color: black;
}
.carousel-inner > .item > img {
    margin: 0 auto;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
